<div id="app">
  <!-- v-model="name"で、Vue.jsで設定したdateとHTMLのinput要素が同期する -->
  name：<input v-model="name">
  parcours:<input v-model="parcours">
  période：<input v-model="acceptancePeriod">

  <!-- button v-on:click="addStudent"で、buttonがclickされた時に起動するメソッドを選択する -->
  <button v-on:click="addStudent">addStudent</button>
  <br><br>
  <ul>
   <!-- v-for="student in students" で、配列studentsを一つ一つ切り出して変数studentに代入している -->
   <!-- v-bind:key="student.id"は、切り出された各要素の一意性を確保するために使う -->
    <li v-for="student in students" v-bind:key="student.id">
       <!-- {{ }} のなかに書いた記述で、Vue.jsのデータの式展開が行える -->
        ID : {{student.id}} /
        name:  {{student.name}} /
        parcours:  {{student.parcours}} /
        periode:  {{student.acceptancePeriod}}
    </li>
  </ul>
 </div>
<%= javascript_pack_tag 'student_vue' %>
